/**
* ! style rules for sectionOne
*/

.sectionOne__left {
    padding-left: 125px;
}

.sectionOne__left--title3-2 {
    line-height: 60px;
}

/**
* ! style rules for sectionTwo
*/

.sectionTwo__left--content {
    padding-left: 125px;
}

/**
* ! style rules for sectionThree
*/

.sectionThree__center--content {
    padding-left: 125px;
    /* padding-right: 100px; */
}

/**
* ! style rules for sectionFour
*/

.sectionFour__center_scheduler--content {
    padding-left: 125px;
    /* padding-right: 100px; */
}

.sectionFour__center_scheduler--photo {
    padding: 20px 0;
}

.sectionFour__center_scheduler--btn {
    align-self: center;
}

.sectionFour__center_clash--content {
    padding-left: 125px;
    /* padding-right: 100px; */
}

.sectionFour__center_clash--photo {
    padding: 20px 0;
}

.sectionFour__center_clash--btn {
    align-self: center;
}

/**
* ! style rules for sectionFive
*/

.sectionFive__center--content {
    padding-left: 125px;
    padding-right: 50px;
}

.sectionFive__center--btn {
    align-self: center;
}

.sectionFive__center__line {
    padding-right: 67px;
}