
/**
* ! style rules for sectionOne
*/

.sectionOne__left {
    padding-left: 60px;
}

.sectionOne__left--title3-2 {
    line-height: 60px;
}

/**
* ! style rules for sectionTwo
*/

.sectionTwo__left--content {
    padding-left: 60px;
}

.sectionTwo__left.grid-1-1 {
    padding: 5px 0;
}

.sectionTwo__right--photos--socials {
    display: flex;
    gap: 5px;
    justify-content: center;
}

/**
* ! style rules for sectionThree
*/

.sectionThree__center--content {
    padding-left: 60px;
    /* padding-right: 100px; */
}

/**
* ! style rules for sectionFour
*/

.sectionFour__center_scheduler--content {
    padding-left: 60px;
    /* padding-right: 100px; */
}

.sectionFour__center_scheduler--photo {
    padding: 20px 0;
}

.sectionFour__center_scheduler--btn {
    align-self: center;
}

.sectionFour__center_clash--content {
    padding-left: 60px;
    /* padding-right: 100px; */
}

.sectionFour__center_clash--photo {
    padding: 20px 0;
}

.sectionFour__center_clash--btn {
    align-self: center;
}

/**
* ! style rules for sectionFive
*/

.sectionFive__center--content {
    padding-left: 60px;
    padding-right: 50px;
}

.sectionFive__center--btn {
    align-self: center;
}

.sectionFive__center__line {
    padding-right: 67px;
}

@media (max-width: 1024px) {
    .sectionTwo__right--photos {
        order: 0;
    }

    .sectionTwo__left--content {
        order: 1;
    }

    .sectionTwo__left--content {
        padding-top: 5px;
    }

    .sectionOne__left--title3-2 {
        line-height: 50px;
    }

    .sectionOne__left,
    .sectionTwo__left--content,
    .sectionThree__center--content,
    .sectionFour__center_scheduler--content,
    .sectionFour__center_scheduler--content,
    .sectionFive__center--content {
        padding-left: 48px
    }

    .list {
        padding: 0 38px;
    }
}

@media (max-width: 768px) {
    .sectionOne__left--title3-2 {
        line-height: 45px;
    }
}

@media (max-width: 568px) {
    .sectionOne__left--title3-2 {
        line-height: 35px;
    }
}